// bower:scss
// endbower
@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

body {
  overflow-x: hidden;
  background: #ffffff url('../images/main_bg.jpg') no-repeat center top;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.s-header {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff;
  background: url('../images/top_bg_blured.jpg') no-repeat top center;

  &__toggle {
    display: none;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #ffa200;
      text-decoration: none;
    }
  }

  &__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 18px 0;

    &-row {
      display: inline-flex;
      align-items: center;
      color: #ffffff;
      font-size: 17px;
      font-weight: 700;

      p {
        margin: 0;
      }

      a {
        color: #ffffff;
        font-size: 17px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #ffa200;
          text-decoration: none;
        }
      }

      i {
        display: inline-block;
        margin-right: 10px;
        color: #ffa200;
      }
    }
  }

  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 12px 0 18px;
  }

  &__logo {
    display: inline-block;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #ffa200;
      text-decoration: none;
    }
  }

  &__column {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__subtitle {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 14px;
  }

  &__phone {
    display: inline-block;
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ffa200;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 32px;
    border-radius: 5px;
    background-color: #ee4900;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background-color: #ffa200;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  position: relative;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  border-radius: 5px;
  background-color: rgba(0, 96, 214, 0.65);
  list-style: none;
  font-weight: 300;

  &>li {
    display: inline-block;
    flex: 1 1 auto;
    position: relative;

    &>a {
      display: inline-block;
      padding: 20px 30px;
      color: #ffffff;
      font-size: 20px;

      i {
        display: inline-block;
        margin-left: 5px;
        color: #ffffff;
        font-size: 20px;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ffa200;
        text-decoration: none;
      }
    }
  }

  &__dropper {
    display: inline-block;
    position: relative;

    &:hover {
      background: #0060d6;

      .s-nav__drop {
        display: block;
      }
    }
  }

  &__drop {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #0060d6;
    z-index: 9;

    li {
      display: block;
      position: relative;
      width: 100%;
      border-bottom: 1px solid #52a0ff;

      &:last-child {
        border: 0;
      }

      a {
        display: block;
        width: 100%;
        padding: 11px 30px;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          background-color: #0049a2;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.s-home-title {
  display: block;
  position: relative;
  width: 100%;
  margin: 80px 0 400px 0;
  text-shadow: 0 3px 10px rgba(0, 96, 214, 0.58);
  color: #ffffff;
  font-size: 55px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.s-triple {
  display: block;
  position: relative;
  width: 100%;
  background: url('../images/home_triple.png') no-repeat left calc(50vw + 200px) bottom 210px;
}

.s-home-popular {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #0060d6;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 250px;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      .s-home-popular__card-content {
        justify-content: flex-end;
        height: 100%;
        padding: 20px 20px 40px 20px;
        border-radius: 5px;
      }

      .s-home-popular__card-button {
        display: inline-block;
      }
    }

    &-price {
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      padding: 10px 15px 10px 20px;
      border-radius: 0 5px 5px 0;
      background-color: #ee4900;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      z-index: 1;
      transition: all 0.2s ease-out;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 20px;
      border-radius: 0 0 5px 5px;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s ease-out;
    }

    &-button {
      display: none;
      margin-top: 30px;
      padding: 10px 25px;
      border-radius: 5px;
      border: 1px solid #ffa200;
      background-color: transparent;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s ease-out;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        border-color: #ee4900;
        background-color: #ee4900;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.s-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0;
  color: #313131;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;

  b,
  strong {
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 16px 0;
    color: #0060d6;
    font-weight: 400;
  }

  &__title {
    display: block;
    margin: 0 0 16px 0;
    color: #0060d6;
    font-size: 20px;
    font-weight: 400;
  }

  p {
    display: block;
    margin: 0 0 16px 0;
    color: #313131;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  a {
    color: #ee4900;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ee4900;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      margin-bottom: 2px;
      padding-left: 35px;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        top: 0;
        left: 15px;
        color: #0060d6;
        font-weight: 800;
      }
    }
  }
}

.s-why {
  display: block;
  position: relative;
  width: 100%;
  padding: 115px 0 90px 0;

  &__title {
    display: block;
    margin: 0 0 60px 0;
    color: #0060d6;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 375px;
    margin-bottom: 40px;

    &-image {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 16px;
      object-fit: scale-down;
      object-position: left bottom;
    }

    &-title {
      display: block;
      margin: 0 0 12px 0;
      color: #0060d6;
      font-size: 20px;
      font-weight: 400;
    }

    &-text {
      display: block;
      margin: 0;
      color: #313131;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.s-brands {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 10px 0;

  &_page {
    padding: 40px 0 70px 0;
  }

  &__title {
    display: block;
    margin: 0 0 65px 0;
    color: #0060d6;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    &_opened {
      height: auto !important;
    }
  }

  &__card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 80px;
    margin-bottom: 30px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__centered {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__button {
    display: inline-block;
    padding: 12px 33px;
    border-radius: 5px;
    background-color: #ee4900;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background-color: #ffa200;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 115px 0;
  background-image: linear-gradient(to top, #f3f3f3 0%, #ffffff 100%);

  &__title {
    display: block;
    margin: 0 0 25px;
    color: #0060d6;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-next,
    .slick-prev {
      width: 30px;
      height: 21px;
      opacity: 1;
      filter: grayscale(100) brightness(0.5);
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        filter: none;
      }
    }

    .slick-next {
      margin-right: -30px;
      background: url("../images/icon_slick_next.png");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      margin-left: -30px;
      background: url("../images/icon_slick_prev.png");

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 20px auto 50px auto;
    padding: 50px 28px 30px 28px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    background: #ffffff url('../images/review_bg.png') no-repeat center;
    text-align: center;

    &-image {
      display: block;
      width: 150px;
      height: 150px;
      margin-bottom: 28px;
      border-radius: 999rem;
      object-fit: cover;
    }

    &-who {
      display: block;
      height: 24px;
      overflow: hidden;
      margin: 0 0 22px 0;
      color: #0060d6;
      font-size: 20px;
      font-weight: 300;

      b,
      strong {
        font-weight: 400;
      }
    }

    &-text {
      display: block;
      height: 242px;
      margin: 0;
      overflow: hidden;
      color: #313131;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-link {
      display: inline-block;
      color: #ee4900;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-decoration: underline;
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ee4900;
        text-decoration: none;
      }
    }
  }

  &__centered {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__button {
    display: inline-block;
    padding: 12px 66px;
    border-radius: 5px;
    background-color: #faad27;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background-color: #ee4900;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-seo-home {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 40px 0;

  &__big {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 810px;
    margin-top: -150px;
    object-fit: scale-down;
    z-index: 1;
    pointer-events: none;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
  }

  color: #313131;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;

  b,
  strong {
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 16px 0;
    color: #0060d6;
    font-weight: 400;
  }

  &__title {
    display: block;
    margin: 0 0 16px 0;
    color: #0060d6;
    font-size: 20px;
    font-weight: 400;
  }

  p {
    display: block;
    margin: 0 0 16px 0;
    color: #313131;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  a {
    color: #ee4900;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ee4900;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      margin-bottom: 2px;
      padding-left: 35px;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        top: 0;
        left: 15px;
        color: #0060d6;
        font-weight: 800;
      }
    }
  }
}

.s-bottom {
  display: block;
  position: relative;
  width: 100%;
  background: url('../images/main_bottom_bg.jpg') no-repeat center bottom;
}

.s-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 185px 0 170px 0;

  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #0060d6;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 0 0 42px 0;
    color: #313131;
    font-size: 16px;
    font-weight: 300;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;

    input {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 12px 20px;
      border-radius: 5px;
      border: 1px solid #969696;
      background-color: #ffffff;
      color: #313131;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border: 1px solid #ee4900;
      }
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 12px 24px;
    border-radius: 5px;
    border: 0;
    background-color: #ee4900;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background-color: #ffa200;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 35px 0 0 0;
    color: #989898;
    font-size: 14px;
    font-weight: 300;
  }

  &__centered {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 260px;
    color: #313131;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
  }
}

.s-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0 70px 0;

  &__logo {
    display: block;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 45px 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 6px 0;
        color: #0060d6;
        font-size: 20px;
        font-weight: 400;

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #0a4997;
          text-decoration: none;
        }
      }
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__link {
    display: inline-block;
    margin: 0 0 15px 0;
    color: #202020;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #202020;
      text-decoration: none;
    }
  }

  &__creators {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    color: #202020;
    font-size: 16px;
    font-weight: 400;

    img {
      display: inline-block;
      margin: 0 10px;
    }

    a {
      color: #202020;
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #202020;
        text-decoration: none;
      }
    }
  }

  &__social {
    display: block;
    margin: 0;

    a {
      display: inline-block;
      margin-left: 10px;

      img {
        width: 50px;
        height: 50px;
        object-fit: scale-down;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }
}

.s-quiz {
  display: block;
  position: relative;
  width: 100%;
  padding: 75px 0 80px 0;
  background: url('../images/quiz_bg.jpg') no-repeat center;
  background-size: cover;

  &__title {
    display: block;
    margin: 0 0 38px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    transition: all 0.2s ease-out;
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    transition: all 0.2s ease-out;

    &-header {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      margin-bottom: 35px;
    }

    &-footer {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;
      position: relative;
      width: 100%;
      margin-top: 40px;
    }

    &-button {
      display: inline-block;
      margin: 0 5px 10px 5px;
      padding: 9px 38px;
      border: 0;
      border-radius: 5px;
      background-color: #ee4900;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: #ffa200;
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-step {
      display: inline-flex;
      align-items: center;
      flex: 1 1 auto;
      overflow: hidden;
      transition: all 0.2s ease-out;

      &_active {
        .s-quiz__card-number {
          border: 1px solid #ffffff;
          background-color: #ffffff;
          color: #0060d6;
        }
      }

      &_last {
        flex: 0 1 auto;
      }

      &_arrow {
        .s-quiz__card-title {
          position: relative;
          padding-right: 18px;

          &:after {
            display: block;
            position: absolute;
            content: '';
            width: 100vw;
            height: 1px;
            left: 100%;
            top: 50%;
            background: #ffffff;
          }
        }
      }
    }

    &-number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 60px;
      height: 60px;
      padding: 2px;
      border: 1px solid #ffffff;
      border-radius: 999rem;
      background-color: #005ac8;
      color: #ffffff;
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s ease-out;
    }

    &-title {
      display: inline-block;
      position: relative;
      margin: 0;
      padding: 0 0 0 18px;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
    }

    &-choices {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      width: 100%;
    }

    &-choice {
      input:checked+.s-quiz__card-choice-title {
        box-shadow: 0 9px 32px rgba(0, 0, 0, 0.33);
        background-color: #ffa200;

        &:before {
          display: block;
          position: absolute;
          content: '';
          width: 33px;
          height: 33px;
          left: 10px;
          top: 10px;
          background: url('../images/icon_quiz.png') no-repeat center;
          background-size: contain;
          z-index: 1;
        }
      }

      input {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
      }

      &-title {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 270px;
        min-height: 130px;
        margin: 0 0 10px 0;
        padding: 6px;
        border-radius: 5px;
        border: 1px solid #ffa200;
        background-color: transparent;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

.s-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 540px;
    margin: 10px 0;
    padding: 45px 50px;
    background: #0b61c5 url('../images/modal_bg.jpg') no-repeat center;
    background-size: cover;
    color: #ffffff;
  }

  &__title {
    display: block;
    width: 100%;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    width: 100%;
    margin: 0 0 42px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;

    input {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 11px 20px;
      border-radius: 5px;
      border: 1px solid #969696;
      background-color: #ffffff;
      color: #313131;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border: 1px solid #ee4900;
      }
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 11px 24px;
    border-radius: 5px;
    border: 0;
    background-color: #ee4900;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background-color: #ffa200;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 35px 0 0 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
  }

  &__center {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 260px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
  }

  .rangeslider {
    background: #ffffff !important;
  }

  .rangeslider__fill {
    background: #ee4900 !important;
  }
}

.rangeslider--horizontal {
  width: 100%;
  max-width: 200px;
  height: 3px;
}

.rangeslider {
  margin: 0 4px;
  box-shadow: none;
  background: #969696;
}

.rangeslider__fill {
  background: #0060d6;
}

.rangeslider__handle:after {
  width: 7px;
  height: 7px;
  background: #ffffff;
}

.rangeslider__handle {
  width: 13px;
  height: 13px;
  border: 0;
  margin-top: 4px;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.22);
  background: #ffa200;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.s-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;

  a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ffa200;
      text-decoration: none;
    }
  }

  li {
    display: inline-block;
  }

  i {
    display: inline-block;
    margin: 0 10px;
    color: #ffa200;
  }
}

.s-page {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0 0 0;
  background: #ffffff;

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 25px 0;
    color: #0060d6;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__description {
    display: block;
    position: relative;
    width: 100%;
    max-width: 865px;
    margin: 0 auto 85px auto;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
  }
}

.s-news {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;

  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 1150px;
    min-height: 350px;
    margin: 0 auto 70px auto;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
      border: 1px solid #0060d6;
      text-decoration: none;
    }

    &-image {
      display: block;
      position: relative;
      width: 500px;
      height: 350px;
      margin-top: -20px;
      margin-left: -20px;
      border-radius: 5px;
      object-fit: cover;
    }

    &-content {
      display: inline-block;
      width: 670px;
      padding: 35px 40px 40px 50px;
    }

    &-date {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 0 0 25px 0;
      color: #989898;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;

      i {
        display: inline-block;
        margin-right: 5px;
        color: #ffa200;
      }
    }

    &-title {
      display: block;
      position: relative;
      width: 100%;
      max-width: 545px;
      height: 60px;
      overflow: hidden;
      margin: 0 0 20px 0;
      color: #313131;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      position: relative;
      width: 100%;
      max-width: 545px;
      height: 98px;
      overflow: hidden;
      margin: 0 0 25px 0;
      color: #989898;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #ffa200;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;

      img {
        display: inline-block;
        max-width: 100%;
        margin-left: 15px;
      }
    }
  }
}

.s-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  &_active {
    color: #ffa200 !important;

    a {
      color: #ffa200 !important;
    }
  }

  &_disable {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  li {
    display: inline-block;
    padding: 5px 10px;
    color: #313131;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    a {
      color: #313131;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ffa200;
        text-decoration: none;
      }
    }

    img {
      display: inline-block;
      margin-top: -3px;

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.5;
        color: #ffa200;
        text-decoration: none;
      }
    }
  }
}

.s-stocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;

  &__card {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 550px;
    height: 250px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #0060d6 0%, #5796e4 100%);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      .s-stocks__card-image {
        &:before {
          opacity: 1;
        }
      }

      .s-stocks__card-arrow {
        background: url('../images/stocks_arrow.png') no-repeat center;
      }

      text-decoration: none;
    }

    &-image {
      display: inline-block;
      position: relative;
      width: 250px;
      height: 250px;
      margin-left: -20px;
      margin-top: -20px;
      border-radius: 5px;
      background-size: cover;
      background-position: center center;
      transition: all 0.2s ease-out;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 5px;
        background: rgba(255, 162, 0, 0.5);
        transition: all 0.2s ease-out;
      }
    }

    &-content {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 320px;
      padding: 25px 20px 20px 30px;
    }

    &-title {
      display: block;
      position: relative;
      width: 100%;
      height: 38px;
      overflow: hidden;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
    }

    &-text {
      display: block;
      position: relative;
      width: 100%;
      height: 120px;
      overflow: hidden;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      transition: all 0.2s ease-out;
    }

    &-arrow {
      display: block;
      width: 100%;
      height: 23px;
      background: url('../images/stocks_arrow_hover.png') no-repeat center;
      background-size: contain;
      transition: all 0.2s ease-out;
    }
  }
}

.s-hot-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0;
  background: url('../images/hot_seo.jpg') no-repeat left center;
  background-size: cover;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;

  b,
  strong {
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 16px 0;
    color: #ffffff;
    font-weight: 400;
  }

  &__title {
    display: block;
    margin: 0 0 12px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }

  p {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  a {
    color: #ffffff;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      margin-bottom: 2px;
      padding-left: 35px;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        top: 0;
        left: 15px;
        color: #ffffff;
        font-weight: 800;
      }
    }
  }
}

.s-about {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0;

  &_double {
    display: block;
    position: relative;
    width: 100%;
    background: #ffffff url('../images/about_double.jpg') no-repeat right bottom;
  }

  &_line {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 100vw;
      height: 100%;
      top: 20px;
      right: 100px;
      border-radius: 5px;
      background-color: #ee4900;
      pointer-events: none;
      z-index: 1;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;

    p {
      display: block;
      margin: 0 0 20px 0;
    }
  }

  &__image {
    display: block;
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
}

.s-about-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 160px 0;
  color: #313131;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;

  b,
  strong {
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 16px 0;
    color: #0060d6;
    font-weight: 400;
  }

  &__title {
    display: block;
    margin: 0 0 16px 0;
    color: #0060d6;
    font-size: 20px;
    font-weight: 400;
  }

  p {
    display: block;
    margin: 0 0 16px 0;
    color: #313131;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  a {
    color: #ee4900;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ee4900;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      margin-bottom: 2px;
      padding-left: 35px;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        top: 0;
        left: 15px;
        color: #0060d6;
        font-weight: 800;
      }
    }
  }
}

.s-how {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0;
  background: url('../images/how_bg.jpg') no-repeat left top;
  background-size: cover;

  &__title {
    display: block;
    margin: 0 0 80px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 265px;
    margin-bottom: 30px;

    &-number {
      display: block;
      margin: 0 0 25px 0;
      text-shadow: 0 7px 10px rgba(0, 0, 0, 0.29);
      color: #ffc052;
      font-size: 72px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-title {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 14px 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.s-papers {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0 0 0;
  background-image: linear-gradient(to bottom, #f3f3f3 0%, #ffffff 100%);

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #0060d6;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-next,
    .slick-prev {
      width: 30px;
      height: 21px;
      opacity: 1;
      filter: grayscale(100) brightness(0.5);
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        filter: none;
      }
    }

    .slick-next {
      margin-right: -30px;
      background: url("../images/icon_slick_next.png");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      margin-left: -30px;
      background: url("../images/icon_slick_prev.png");

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 380px;
    margin: 5px 10px 20px 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active {
      &:before {
        opacity: 1;
      }

      &:after {
        opacity: 1;
      }

      color: #ffa200;
      text-decoration: none;
    }

    &-image {
      display: block;
      max-width: 100%;
      border-radius: 5px;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 5px;
      background-color: rgba(1, 77, 170, 0.6);
      opacity: 0;
      transition: all 0.2s ease-out;
    }

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 74px;
      height: 74px;
      top: 50%;
      left: 50%;
      margin-left: -37px;
      margin-top: -37px;
      background: url('../images/icon_zoom.png') no-repeat center;
      background-size: contain;
      opacity: 0;
      transition: all 0.2s ease-out;
      z-index: 1;
    }
  }

  &__centered {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 62px;
    border-radius: 5px;
    background-color: #faad27;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background-color: #ee4900;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-service {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0;

  &_line {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 100vw;
      height: 100%;
      top: 20px;
      right: 40px;
      border-radius: 5px;
      background-color: #ee4900;
      pointer-events: none;
      z-index: 1;
    }
  }

  &__price {
    display: block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    color: #313131;
    font-size: 25px;
    font-weight: 700;

    b,
    strong {
      display: inline-block;
      margin: 0 5px;
      text-shadow: 0 0 8px rgba(238, 73, 0, 0.42);
      color: #ee4900;
      font-size: 40px;
      font-weight: 700 !important;
    }
  }

  &__button {
    display: inline-block;
    padding: 10px 65px;
    border-radius: 5px;
    background-color: #ffa200;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background-color: #ee4900;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    color: #313131;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    p {
      display: block;
      margin: 0 0 20px 0;
    }

    b,
    strong {
      font-weight: 400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 16px 0;
      color: #0060d6;
      font-weight: 400;
    }

    ul {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 10px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        margin-bottom: 2px;
        padding-left: 35px;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          top: 0;
          left: 15px;
          color: #0060d6;
          font-weight: 800;
        }
      }
    }
  }

  &__image {
    display: block;
    position: relative;
    width: 570px;
    height: 350px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
}

.s-steps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 0 5px 0;

  &__card {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 265px;
    margin-bottom: 20px;

    &-row {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &-number {
      margin: 0 25px 0 0;
      text-shadow: 0 0 8px rgba(238, 73, 0, 0.42);
      color: #ee4900;
      font-size: 72px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-title {
      margin: 0;
      color: #0060d6;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      width: 100%;
      margin: 2px 0 0 0;
      color: #313131;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.s-service-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0;

  &_line {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 100vw;
      height: 100%;
      top: 20px;
      left: 40px;
      border-radius: 5px;
      background-color: #ffa200;
      pointer-events: none;
      z-index: 1;
    }
  }

  &__title {
    display: block;
    margin: 0 0 16px 0;
    color: #0060d6;
    font-size: 20px;
    font-weight: 400;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    color: #313131;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    p {
      display: block;
      margin: 0 0 16px 0;
      color: #313131;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    a {
      color: #ee4900;
      font-weight: 300;
      text-decoration: underline;
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ee4900;
        text-decoration: none;
      }
    }

    p {
      display: block;
      margin: 0 0 20px 0;
    }

    b,
    strong {
      font-weight: 400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 16px 0;
      color: #0060d6;
      font-weight: 400;
    }

    ul {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 10px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        margin-bottom: 2px;
        padding-left: 35px;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          top: 0;
          left: 15px;
          color: #0060d6;
          font-weight: 800;
        }
      }
    }
  }

  &__image {
    display: block;
    position: relative;
    width: 570px;
    height: 350px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
}

.s-service-hot {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;

  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #0060d6;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
}

.s-service-big {
  display: block;
  position: relative;
  width: 100%;
  background-image: linear-gradient(to top, #0b61c5 0%, #1266d1 34%, #1b6dd7 58%, #1c70d2 100%);
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;

  &__image {
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  &__content {
    &_left {
      padding: 65px 30px 65px calc((100vw - 1200px) / 2 + 15px);
    }

    display: block;
    position: relative;
    width: 100%;
    padding: 65px calc((100vw - 1200px) / 2 + 15px) 65px 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  b,
  strong {
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 16px 0;
    color: #ffffff;
    font-weight: 400;
  }

  &__title {
    display: block;
    margin: 0 0 12px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }

  p {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  a {
    color: #ffffff;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      margin-bottom: 2px;
      padding-left: 35px;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        top: 0;
        left: 15px;
        color: #ffffff;
        font-weight: 800;
      }
    }
  }
}

.s-calendar {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 10px 0;

  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #0060d6;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
}

.s-individual {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 10px 0 5px 0;

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin-bottom: 70px;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 40px;
      height: 7px;
      top: 25px;
      left: 0;
      margin-left: -10px;
      border-radius: 4px;
      background-color: #ffa200;
    }

    &-image {
      display: block;
      width: 100%;
      height: 230px;
      margin-bottom: 16px;
      border-radius: 5px;
      background-position: center;
      background-size: cover;
    }

    &-title {
      display: block;
      width: 100%;
      min-height: 130px;
      margin: 0;
      padding: 16px 25px 16px 40px;
      border-radius: 5px;
      background-image: linear-gradient(to top, rgba(32, 95, 153, 0) 0%, rgba(32, 95, 153, 0.7) 100%);
      color: #ffffff;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      margin: 0;
      color: #313131;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.s-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding: 90px 0 60px 0;

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 250px;
    margin-bottom: 30px;
    padding: 55px 55px 20px 55px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    background-color: #ffffff;
    color: #0060d6;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
      background-image: linear-gradient(to top, #0060d6 0%, #5796e4 100%);
      color: #ffffff;
      text-decoration: none;
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 100px;

      img {
        max-width: 100%;
      }
    }

    &-title {
      display: block;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.s-article {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0;

  &_line {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 100vw;
      height: 100%;
      top: 20px;
      right: 40px;
      border-radius: 5px;
      background-color: #ee4900;
      pointer-events: none;
      z-index: 1;
    }
  }

  &__image {
    display: block;
    position: relative;
    width: 570px;
    height: 350px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }

  b,
  strong {
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 16px 0;
    color: #0060d6;
    font-weight: 400;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
    color: #313131;
  }

  h5 {
    font-size: 14px;
    color: #313131;
  }

  h6 {
    font-size: 12px;
    color: #313131;
  }

  &__title {
    display: block;
    margin: 0 0 16px 0;
    color: #0060d6;
    font-size: 20px;
    font-weight: 400;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    color: #313131;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  p {
    display: block;
    margin: 0 0 16px 0;
    color: #313131;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  a {
    color: #ee4900;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ee4900;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      margin-bottom: 2px;
      padding-left: 35px;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        top: 0;
        left: 15px;
        color: #0060d6;
        font-weight: 800;
      }
    }
  }
}

blockquote {
  display: block;
  position: relative;
  width: 100%;
  margin: 40px 0 20px 0;
  padding: 35px 85px 35px 100px;
  border-radius: 5px;
  border: 2px solid #ffa200;
  background: #ffffff url('../images/icon_quote.png') no-repeat left 40px top 40px;
  color: #313131;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;

  p {
    display: block;
    margin: 0;
  }
}

.s-more-news {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0 0 0;

  &__title {
    display: block;
    margin: 0 0 38px 0;
    color: #0060d6;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      height: 190px;
      margin-bottom: 16px;
      border-radius: 5px;
      object-fit: cover;
    }

    &-date {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 0 0 15px 0;
      color: #989898;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;

      i {
        display: inline-block;
        margin-right: 5px;
        color: #ffa200;
      }
    }

    &-title {
      display: block;
      position: relative;
      width: 100%;
      height: 63px;
      overflow: hidden;
      margin: 0 0 14px 0;
      color: #313131;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      position: relative;
      width: 100%;
      height: 120px;
      overflow: hidden;
      margin: 0 0 12px 0;
      color: #989898;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-link {
      display: block;
      color: #ffa200;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.s-table {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0;

  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #0060d6;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }

  .table thead {
    background-color: #0060d6;
  }

  .table td,
  .table th {
    padding: 14px 30px;
    border: 0;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 400;
  }

  .table thead th {
    padding: 14px 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background: #f2f7fd;
  }

  .table-striped tbody tr:nth-of-type(even) {
    background: #ffffff;
  }
}

.s-contacts {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 70px;
  padding: 0 0 20px 0;

  &_number_one {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '1';
      top: 50%;
      right: 100%;
      margin-top: -132px;
      margin-right: 20px;
      text-shadow: 0 0 38px rgba(255, 162, 0, 0.42);
      color: #ffb739;
      font-size: 220px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &_number_two {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '2';
      top: 50%;
      right: 100%;
      margin-top: -132px;
      margin-right: 20px;
      text-shadow: 0 0 38px rgba(238, 73, 0, 0.88);
      color: #ff6b2a;
      font-size: 220px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &_one {
    background-color: #ffa200;
  }

  &_two {
    background-color: #ee4900;
  }

  &__map {
    display: block;
    position: relative;
    width: 800px;
    height: 400px;
    margin-top: -20px;
    margin-left: -20px;
    box-shadow: 0 6px 27px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    background-color: #ffffff;
  }

  &__phone {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }

    i {
      margin-right: 5px;
      color: #ffffff;
      font-size: 25px;
      text-transform: uppercase;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    margin: 24px 0 0 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;

    i {
      margin-right: 15px;
    }
  }

  &__centered {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__button {
    display: inline-block;
    margin-top: 55px;
    padding: 12px 70px;
    border-radius: 5px;
    background-color: #faad27;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background-color: #ee4900;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  body {
    background: #ffffff;
  }

  .s-header {
    background-size: cover;

    &>.container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
    }
  }

  .s-header__main {
    order: -1;
  }

  .s-header__mob {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .s-header__toggle {
    display: inline-block;
    margin-left: 20px;
  }

  .s-header__logo {
    img {
      max-width: 100%;
    }
  }

  .s-header__main {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
  }

  .s-header__column {
    align-items: center;
  }

  .s-header__subtitle {
    margin-top: 10px;
  }

  .s-header__button {
    margin-top: 10px;
  }

  .s-header__info-row {
    margin-bottom: 8px;
  }

  .s-header__info {
    display: none;
    padding: 5px 0 10px 0;
  }

  .s-nav {
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;

    li {
      display: block;
      width: 100%;

      a {
        display: block;
        width: 100%;
        padding: 10px 12px;
        text-align: center;
      }
    }

    i {
      display: none !important;
    }
  }

  .s-nav__dropper:hover {
    background: transparent;
  }

  .s-nav__dropper:hover .s-nav__drop {
    display: none;
  }

  .s-home-title {
    margin: 20px 0;
    text-shadow: none;
    color: #0060d6;
    font-size: 42px;
  }

  .s-home-popular__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
  }

  .s-home-popular__cards {
    justify-content: space-around;
  }

  .s-triple {
    background: #ffffff;
  }

  .s-home-seo {
    padding: 20px 0;
  }

  .s-why {
    padding: 20px 0;
  }

  .s-why__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
  }

  .s-why__card {
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }

  .s-why__cards {
    justify-content: space-around;
  }

  .s-quiz {
    padding: 20px 0;
  }

  .s-quiz__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
  }

  .s-quiz__card-step {
    margin-bottom: 10px;
  }

  .s-quiz__card-step_arrow .s-quiz__card-title:after {
    display: none;
  }

  .s-quiz__card-header {
    margin-bottom: 15px;
  }

  .s-quiz__card-choices {
    justify-content: space-around;
  }

  .s-quiz__card-choice-title {
    min-height: 60px;
    margin: 0 5px 10px 5px;
  }

  .s-quiz__card-footer {
    margin: 0;
  }

  .s-brands {
    padding: 20px 0;
  }

  .s-brands__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
  }

  .s-brands__cards {
    justify-content: space-around;
  }

  .s-brands__card {
    margin-bottom: 15px;
  }

  .s-reviews {
    padding: 20px 0;
  }

  .s-reviews__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
  }

  .s-reviews__cards .slick-next {
    margin-right: 15px;
  }

  .s-reviews__cards .slick-prev {
    margin-left: 15px;
  }

  .s-reviews__card {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.09);
  }

  .s-seo-home__big {
    display: none;
  }

  .s-seo-home {
    padding: 20px 0;
  }

  .s-seo-home {
    padding: 0;
  }

  .s-bottom {
    background: #ffffff url('../images/main_bottom_bg_blur.jpg') no-repeat top center;
    background-size: cover;
  }

  .s-form {
    padding: 20px 0;
  }

  .s-form__centered {
    max-width: 220px;
  }

  .s-form__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
    text-align: center;
  }

  .s-form__text {
    margin-bottom: 20px;
    text-align: center;
  }

  .s-form__info {
    margin-top: 15px;
  }

  .s-footer {
    padding: 20px 0;
  }

  .s-footer__nav {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
  }

  .s-footer__logo {
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  .s-footer__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    &>div {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
    }
  }

  .s-footer__creators {
    justify-content: center;
    margin-bottom: 20px;
  }

  .s-footer__social a {
    margin: 0 5px 10px 5px;
  }

  .s-modal__content {
    padding: 45px 20px 20px 20px;
  }

  .s-modal__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
    text-align: center;
  }

  .s-modal__text {
    margin: 0 auto 20px auto;
    text-align: center;
  }

  .s-modal__center {
    max-width: 140px;
  }

  .s-modal__info {
    margin-top: 10px;
    text-align: center;
  }

  .s-header {
    padding-bottom: 5px;
  }

  .s-news__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin-bottom: 20px;

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 200px;
      margin: 0 auto 0 auto;
      border-radius: 5px 5px 0 0;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 20px;
    }
  }

  .s-page {
    padding-top: 20px;
  }

  .s-page__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
    text-align: center;
  }

  .s-page__description {
    margin-bottom: 20px;
  }

  .s-news__card-date {
    margin-bottom: 10px;
  }

  .s-news__card-title {
    margin-bottom: 15px;
    font-size: 24px;
  }

  .s-pagination {
    padding: 10px 0;
  }

  .s-stocks__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin-bottom: 20px;

    &-image {
      display: block;
      position: relative;
      width: 100%;
      max-width: 200px;
      height: 200px;
      margin: 20px auto 0 auto;
      border-radius: 5px;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 20px;
    }
  }

  .s-hot-seo {
    padding: 20px 0;
  }

  .s-papers__cards .slick-next {
    margin-right: 15px;
  }

  .s-papers__cards .slick-prev {
    margin-left: 15px;
  }

  .s-papers__card {
    margin-left: auto;
    margin-right: auto;
  }

  .s-about__image {
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .s-about_line:before {
    display: none;
  }

  .s-about__content {
    padding: 20px 0 5px 0;
  }

  .s-about-seo {
    padding: 20px 0;
  }

  .s-about_double {
    background-image: linear-gradient(to top, #f3f3f3 0%, #ffffff 100%);
  }

  .s-how {
    padding: 20px 0;
  }

  .s-how__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
    text-align: center;
  }

  .s-how__card-number {
    margin-bottom: 15px;
    font-size: 42px;
  }

  .s-papers {
    padding: 20px 0;
  }

  .s-papers__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
    text-align: center;
  }

  .s-service_line:before {
    display: none;
  }

  .s-service__image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 0 auto 10px auto;
  }

  .s-steps {
    padding: 20px 0;
  }

  .s-service-seo {
    padding: 20px 0;
  }

  .s-service-seo__image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 0 auto 10px auto;
  }

  .s-service-seo_line:before {
    display: none;
  }

  .s-service-hot__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
    text-align: center;
  }

  .s-service-big__content {
    padding: 20px 15px;
  }

  .s-service-big__image {
    height: 250px !important;
  }

  .s-calendar__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
    text-align: center;
  }

  .s-calendar {
    padding-top: 20px;
  }

  .s-form__info {
    color: #202020;
  }

  .s-individual__card {
    margin-bottom: 20px;
  }

  .s-individual {
    justify-content: space-around;
  }

  .s-menu {
    justify-content: space-around;
    padding: 0;
  }

  .s-menu__card {
    min-height: auto;
    margin-bottom: 20px;
    padding: 30px 20px;
  }

  .s-article_line:before {
    display: none;
  }

  .s-article__image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 0 auto 10px auto;
  }

  blockquote {
    margin: 10px 0 20px 0;
    padding: 10px;
    background: #ffffff;
  }

  .s-table .table td,
  .s-table .table th {
    padding: 6px;
  }

  .s-table .table thead th {
    padding: 6px;
  }

  .s-table__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
    text-align: center;
  }

  .s-more-news__title {
    margin: 0 auto 20px auto;
    font-size: 32px;
    text-align: center;
  }

  .s-more-news__cards {
    justify-content: space-around;
  }
  .s-contacts__map {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px 0;
  }
  .s-contacts {
    margin-top: 20px;
    padding-top: 20px;
  }
  .s-brands__cards {
    height: 190px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}
